WAKKA_DEBUG="<Your_Value_Here>"
WAKKA_DB_NAME="<Your_Value_Here>"
WAKKA_DB_USER="<Your_Value_Here>"
WAKKA_DB_PASS="<Your_Value_Here>"
WAKKA_DB_HOST="<Your_Value_Here>"
WAKKA_DB_PORT="<Your_Value_Here>"
WAKKA_SECRET_KEY="<Your_Value_Here>"
WAKKA_JWT_PRIVATE_KEY="<Your_Value_Here>"
WAKKA_JWT_PUBLIC_KEY="<Your_Value_Here>"
WAKKA_EMAIL_HOST="<Your_Value_Here>"
WAKKA_EMAIL_FROM="<Your_Value_Here>"
WAKKA_EMAIL_HOST_USER="<Your_Value_Here>"
WAKKA_EMAIL_HOST_PASSWORD="<Your_Value_Here>"